
<!DOCTYPE html>
<html>
<body>
<h1>Create a Seed</h1>
<h2>Select Type of Seed!</h2>

<div>
  <form action="" method="post">
  <input type="text" name="name" placeholder="Name">
  <select>
  <option value="vegetable">Vegetable</option>
  <option value="fruit">Fruit</option>
  <option value="herb">Herb</option>
  <option value="other">Other</option>
</select>
<input type="text" name="description" placeholder="Description">
<input type="submit" id="sumbit" name="Submit">
</form>
</div>
</body>
<html>
