



<h1>Add a New Seed</h1>

  <form action="/seeds" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="catergory" placeholder="catergory">
    <input type="text" name="description" placeholder="Description">
    <input type="submit" id="sumbit" name="Submit">
  </form>
  
<h2>My Seeds!</h2>
  <%=@myseeds%>