

<h1>Create a Seed</h1>
<h2>Select Type of Seed!</h2>

<div>
  <form action="/seeds" method="post">
  <input type="text" name="name" placeholder="Name">

<input type="submit" id="sumbit" name="Submit">
</form>
