
<!DOCTYPE html>
<html>
<body>

<h2>Select Type of Seed</h2>

<form action="" method="post">
  <select name="seeds">
    <option value="vegetable">Vegetable</option>
    <option value="flower">Flower</option>
    <option value="herb">Herb</option>
    <option value="fruit">Audi</option>
  </select>
  <br><br>
  <input type="submit">
</form>

</body>
</html>