<h1>Edit Seed</h1>
<!DOCTYPE html>
<html>
  <body>
    <form method='POST' action='/seeds/<%= @seed.id %>/edit'>
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h4>Name: <%= @seed.name %></h4>
      <label for "name">Edit:</label>
      <input type="text" id="name" name="name">
      <h4>Description: <%= @seed.description%></h4>
      <label for "description">Edit:</label>
      <input type="text" id="description" name="description">
      <button type="submit">Update</button>
    </form>
  </body>
</html>