<h1>Edit Seed</h1>
<form action="/seeds/<%= @seed.id %>"  method="POST" >
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Name: <input type="text" name="name" value="<%= @seed.name %>">
    Description: <input type="text" name="description" value="<%= @seed.description %>"></p>
    
    <input type="submit" name="Submit" id="submit">


</form>
