<h1>Edit Seed</h1>
<form action="/seeds/<%= @seed.id %>"  method="POST" >
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name" value="old">
    
    <input type="submit" name="Submit" id="submit">


</form>
