<a href="/seeds/user_seeds"><input type="submit" name="submit" value="My Seeds"></a>
<form method="post" action="/seeds/<%=@seed.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>

<h1>Edit Seed</h1>

    <form method='POST' action='/seeds/<%= @seed.id%>'>
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h4>Name: <%= @seed.name %></h4>
      <label for "name">Edit:</label>
      <input type="text" id="name" name="name">
      <h4>Description: <%= @seed.description%></h4>
      <label for "description">Edit:</label>
      <input type="text" id="description" name="description">
      <button type="submit">Update</button>
    </form>
  