
<a href="/seeds/new"><input type="submit"            name="submit" value="Add Seeds"></a>

<form method="post" action="/logout">
   <input type="submit" id="submit" value="logout">
</form>

<h3>Available Seeds</h3>
<h4>I want to group the seeds by catergory(fruit, vegetable,herb)</h4>

<h4>i want the user to be able to click on the link and have the link direct them to a page where the user can post a message to the owner of that seed.</h4>
<ol>
<% @seeds.each do |seed| %>
      <li><a href="/seeds<%=seed.id%>">  <%=seed.name%></a></li>
<% end %>
</ol>




  