






  <h1>Create a Seed</h1>


  <div>
    <form action="/seeds" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="name" placeholder="Type">
  <input type="text" name="description" placeholder="Description">
  <input type="submit" id="sumbit" name="Submit">
  </form>
  </div>
  </body>

  <h3>List My Seeds</h3>
  <p><%= @seed.name %>
   <form method="post" action="/seeds/<%=@seed.id%>/delete">
    <input type="submit" value="Delete Tweet">
  </form>
   <a href="/seeds/<%=@seed.id%>/edit">Edit Seed </a>
