<h1>My Seeds</h1>

<h4>Add a New Seed</h4>
  <div>
    <form action="/seeds" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="name" placeholder="Type">
  <input type="text" name="description" placeholder="Description">
  <input type="submit" id="sumbit" name="Submit">
  </form>
  </div>
  </body>

   <h3>List My Seeds</h3>
   <%= @seed.name %>
