<h1>My Seeds</h1>



   <h3>List My Seeds</h3>

<input type="submit" name="Browse Seeds" value="Add Seed">
<input type="submit" name="Browse Seeds" value="Browse Seeds">
<input type="submit" name="Browse Seeds" value="edit seed">
<input type="submit" name="Browse Seeds" value="delete seed">
<input type="submit" name="Browse Seeds" value="log out">