
<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seeds"></a>

<a href="/" ><input type="submit" name="logout" value="log out"></a>


<h1>Add a New Seed</h1>

  <form action="/myseeds" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="catergory" placeholder="catergory">
    <input type="text" name="description" placeholder="Description">
    <input type="submit" id="sumbit" name="Submit">
  </form>
  
 
