
<a href="/seeds/user_seeds"><input type="submit" name="submit" value="My Seeds"></a>
<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seed"></a>

<a href="/" ><input type="submit" name="logout" value="log out"></a>


<h1>Add a New Seed</h1>

  <form action="/seeds" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="radio" name="catergory" value="fruit">Fruit
    <input type="radio" name="catergory" value="herb">Herb
    <input type="radio" name="catergory" value="vegetable">Vegetable
    <input type="text" name="description" placeholder="Description">
    <input type="submit" id="sumbit" name="Submit">
  </form>
  
 
