
<h1>These are your Seeds!</h1>

<!-- <% @seeds.each do |seed| %>
    <ul>
        <li><%=seed.content%></li>
    </ul>
<% end %>

<a href="/seed/new"><p>Create Seed</p></a>
<form method="post" action="/logout">
<input type="submit" id="sumbit" name="Submit">
</form>
-->
