
<h1>Login to See your Seeds!</h1>
<form method="post" action="/seeds">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
   <input type="submit">
</form>