<a href="/myseeds" ><input type="submit" name="My seeds " value="My seeds "></a>

<form method="post" action="/logout">
<input type="submit" id="submit" value="logout">

<h1>Seeds</h1>
 <%=@seed.name%>

 <form method="POST" action="/seeds/:id/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>