
<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seeds"></a>
<a href="/" ><input type="submit" name="logout" value="log out"></a>

<h1>My Seeds</h1>

 <a href='/seeds/<%=@seed.id%>/edit'><%=@seed.name%></a> <h3>I want this link to go to another page that has edit and delete functionality</h3>

 <h3>Want all of my seeds listed here</h3>


 