
<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seeds"></a>
<a href="/" ><input type="submit" name="logout" value="log out"></a>

<h1>My Seeds</h1>
 <%=@seed.name%>

 <form method="POST" action="/seeds/:id/delete">
 
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>

    <form action="/seeds/:id/edit" method="POST" >
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <input type="submit" name="Submit" value="edit">


</form>