<a href="/seeds/new"><input type="submit"  name="submit" value="Add Seeds"></a>
<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seeds"></a>
<a href="/" ><input type="submit" name="logout" value="log out"></a>

<h2>My Seeds</h2>
<ol>
<%@seeds.each do |seed|%>
    <li></a>
<a href="/seeds/<%=seed.id%>">
<%=seed.name%> -
<%=seed.description%></a></li>
<%end%>
</ol>

