<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seeds"></a>
<a href="/" ><input type="submit" name="logout" value="log out"></a>

<h2>My Seeds</h2>
<ol>
<%@seeds.each do |seed|%>
    <li><a href="/seeds/<%=seed.id%>/edit"> 
<input type="submit" name="Edit" value="edit"></a>
<a href="/seeds<%=seed.id%>delete"><input type="submit" name="Edit" value="Delete"></a><%=seed.name%> -
<%=seed.description%></li>
<%end%>
<h3>post by other users</h3>
</ol>

