
<a href="/seeds" ><input type="submit" name="Browse Seeds" value="Browse Seeds"></a>

<a href="/" ><input type="submit" name="logout" value="log out"></a>


<h2>My seeds</h2>
<h4>link to edit seed</h4>
<%=@seed.name%></a>
<%=@seed.catergory%>
<%=@seed.description%>