
<a href="/posts/new" ><input type="submit" name="logout" value="log out"></a>

<h2>My Seeds</h2>
<ol>
<%@posts.each do |seed|%>
<li><%=seed.name%> -
<%=seed.description%></li>
<%end%>
<h3>post by other users</h3>
</ol>